.orb-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.orb-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

