**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/obj
**/out
*.mdf
*.ldf
*.dbmdl
*.suo
*.user
*.userosscache
*.sln.docstates
Dockerfile
docker-compose.yml
docker-compose.yaml
node_modules
TestResults

