.ghost-cursor {
  position: absolute;
  inset: 0;
  pointer-events: none !important;
  z-index: 0;
}

.ghost-cursor > canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none !important;
}

